{% extends 'base.html' %}

{% block content %}

<!DOCTYPE html>
<html>

<head>
    <title>StockTracker</title>
    <link rel="stylesheet" href="styles.css">
</head>

<body>
    <div>
        <p>{{application}}</p>
    </div>
    <div>
        <ul>
            <li>
                <h5>Name: </h5>
                <p>{{name}}</p>
            </li>
            <li>
                <h5>Class: </h5>
                <p>{{class}}</p>
            </li>

        </ul>
    </div>
    <table>
        <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Description</th>
            <th>Date Added</th>
        </tr>
    
        {% comment %} Berikut cara memperlihatkan data produk di bawah baris ini {% endcomment %}
    
        {% for product in products %}
            <tr>
                <td>{{product.name}}</td>
                <td>{{product.price}}</td>
                <td>{{product.description}}</td>
                <td>{{product.date_added}}</td>
            </tr>
        {% endfor %}
    </table>
    
    <br />
    
    <a href="{% url 'main:create_product' %}">
        <button>
            Add New Product
        </button>
    </a>

</body>

</html>
{% endblock content %}

